<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="section red-text">Тут ничего нет...</div>
    <div class="spacer"></div>
    <div class="section">Тебе туда не надо</div>
    <div class="spacer"></div>
    <div class="section">Просто прокручивай дальше...</div>
    <div class="spacer"></div>
    <div class="section">Тебе сюда тоже не надо</div>
    <div class="spacer"></div>
    <div class="section">Крути ещё...</div>
    <div class="spacer">flag = MIPHI{1ts_4_F4k3_f13g}</div>
    <!-- Maybe style.css? -->
</body>
</html>
